/*----------------------------------------
	reset
----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header, footer, article, section, aside, main, nav, menu, figure, figcaption {
  display: block;
}

span, small, strong, em, b, i {
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

q::before,
q::after {
  display: none;
}

/*----------------------------------------
  value
----------------------------------------*/
#news, .footer__buttons, .footer__inner, .product-harmony__heading-lv2, .product-creation__heading-lv2, .header {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.header__button-inner {
  font-size: 1.6rem;
  color: #fff;
}

.navmenu__link {
  font-size: 1.6rem;
  color: #fff;
}

.news__heading-lv2 {
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 2.8rem;
  font-weight: normal;
}

.news__heading-lv2::before {
  letter-spacing: 0.03em;
  font-size: 0.875rem;
  font-size: 0.5em;
}

.news__date {
  font-size: 1.2rem;
}

.news__title {
  font-size: 1.6rem;
}

.product-creation__heading-lv2,
.product-harmony__heading-lv2 {
  line-height: 1;
  font-weight: normal;
  font-size: 2.4rem;
}

.product-harmony__image-description, .product-creation__image-description {
  color: #fff;
  font-size: 0.875rem;
  font-size: 14px;
}

.footer__info {
  line-height: 2;
  font-size: 1.4rem;
}

.footer__link {
  font-size: 1.4rem;
}

.footer__buttons--online,
.footer__buttons--form {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px), print {
  .news__heading-lv2 {
    font-size: 3.6rem;
  }

  .news__heading-lv2::before {
    font-size: 1.4rem;
  }

  .product-creation__heading-lv2,
.product-harmony__heading-lv2 {
    font-size: 3.2rem;
  }

  .product-creation__heading-lv2::after,
.product-harmony__heading-lv2::after {
    font-size: 1.4rem;
    letter-spacing: 0.06em;
  }

  .product-harmony__image-description, .product-creation__image-description {
    font-size: 1.6rem;
  }

  .footer__link {
    font-size: 1.6rem;
  }
}
/*----------------------------------------
	base
----------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif JP", serif, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #141414;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input {
  margin: 0;
  padding: 0;
}

textarea {
  padding: 0;
  font: inherit;
  color: inherit;
}

button {
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

/*----------------------------------------
	header
----------------------------------------*/
.header {
  background-color: #000;
  background: url(../images/mainvisual-sp.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative;
}

.heading-lv1 {
  width: 40px;
}

.header__button-outer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  transition: opacity 0.3s;
}
.header__button-outer .header__button-inner {
  border: 1px solid #ccc;
  display: block;
  margin: 8px;
  padding: 30px 18px;
}

.header__button-outer:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px), print {
  .header {
    background: url(../images/mainvisual-pc.jpg) no-repeat center top;
    background-size: cover;
    padding: 60px 80px;
  }

  .header__button-outer {
    bottom: 30px;
    left: 40px;
  }
  .header__button-outer .header__button-inner {
    padding: 30px 18px;
  }
}
/*----------------------------------------
	gnav
----------------------------------------*/
.navmenu__list {
  margin-right: 60px;
}
.navmenu__list .navmenu__item:not(:last-of-type) {
  margin-left: 25px;
}
.navmenu__list .navmenu__link {
  display: block;
  transition: opacity 0.3s;
}
.navmenu__list .navmenu__link:hover {
  opacity: 0.7;
}

/*----------------------------------------
	main
----------------------------------------*/
.news__heading-lv2 {
  position: relative;
  margin: 0 15px 0 0;
}

.news__heading-lv2::before {
  display: block;
  position: relative;
  top: 0;
  right: -15px;
  content: "News";
}

.news__info {
  margin: 20px 30px 0 0;
}

.news__date {
  border-right: 1px solid #000;
  padding: 15px 12px 15px 0;
}
.news__date time {
  font-size: inherit;
}

.news__title {
  padding: 15px 5px 15px 12px;
}

.news__title:nth-of-type(3) {
  border-left: 1px solid #000;
}

.news__date:nth-of-type(n+4),
.news__title:nth-of-type(n+4) {
  display: none;
}

@media screen and (min-width: 768px), print {
  .news__info {
    margin: 80px 100px 0 0;
  }

  .news__date {
    padding: 15px 30px 15px 0;
  }

  .news__title {
    padding: 15px 5px 15px 30px;
  }

  .news__title:nth-of-type(3) {
    border-left: none;
  }

  .news__title:last-of-type {
    border-left: 1px solid #000;
  }

  .news__date:nth-of-type(n+4),
.news__title:nth-of-type(n+4) {
    display: block;
  }
}
.product-harmony__heading-lv2, .product-creation__heading-lv2 {
  letter-spacing: 0.1em;
}

.product-creation__heading-lv2 {
  margin-left: 10px;
}

.product-harmony__heading-lv2 {
  margin-right: 10px;
}

.product-creation__image, .product-harmony__image {
  width: 90%;
  margin-top: 70px;
  position: relative;
}

.product-harmony__image-description, .product-creation__image-description {
  display: block;
  width: 64%;
  padding: 30px 0;
  position: absolute;
  text-align: center;
}

.product-creation__image-description {
  background-color: rgba(249, 233, 6, 0.6);
  bottom: -20px;
  left: -20px;
}

.product-harmony__image-description {
  background-color: rgba(149, 42, 38, 0.6);
  right: -20px;
  bottom: -20px;
}

@media screen and (min-width: 768px), print {
  .product-creation__heading-lv2 {
    margin-left: 20px;
  }

  .product-harmony__heading-lv2 {
    margin-right: 20px;
  }

  .product-harmony__heading-lv2::after, .product-creation__heading-lv2::after {
    display: inline;
    position: relative;
    top: 25px;
    letter-spacing: normal;
  }

  .product-creation__heading-lv2::after {
    content: "Create New Values";
  }

  .product-harmony__heading-lv2::after {
    content: "Science & Technology";
  }

  .product-creation__image,
.product-harmony__image {
    width: 65%;
    margin-top: 100px;
  }

  .product-creation__image-description, .product-harmony__image-description {
    width: 56%;
    padding: 50px 0;
  }
}
.map {
  background-color: #ccc;
  width: 100%;
  position: relative;
  padding-top: 88.3%;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 768px), print {
  .map {
    padding-top: 32%;
  }
}
/*----------------------------------------
footer
----------------------------------------*/
.footer {
  background-color: #000;
  width: 100%;
  padding: 40px 20px 30px;
  color: #fff;
}

.footer__outer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footer__info {
  margin-right: 25px;
}

.footer__menu {
  margin-right: 25px;
}
.footer__menu .footer__item:not(:first-of-type) {
  padding-right: 10px;
}
.footer__menu .footer__link {
  transition: opacity 0.3s;
}
.footer__menu .footer__link:hover {
  opacity: 0.7;
}

.footer__buttons {
  position: static;
}
.footer__buttons .footer__buttons--online {
  position: relative;
  padding: 0 0 8px 0;
  transition: opacity 0.3s;
}
.footer__buttons .footer__buttons--online::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  border-bottom: 1px solid #fff;
  content: "";
}
.footer__buttons .footer__buttons--form {
  padding-top: 8px;
  transition: opacity 0.3s;
}
.footer__buttons .footer__buttons--online:hover,
.footer__buttons .footer__buttons--form:hover {
  opacity: 0.7;
}

.footer__copyright {
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 768px), print {
  .footer {
    padding: 80px 80px 30px 30px;
  }

  .footer__info {
    margin-right: 60px;
  }

  .footer__menu {
    margin-right: 60px;
  }
  .footer__menu .footer__item:not(:first-of-type) {
    padding-right: 25px;
  }
}
/*----------------------------------------
container
----------------------------------------*/
.container {
  background-color: #e6e2d7;
}

/*----------------------------------------
section
----------------------------------------*/
.section {
  background-color: #e6e2d7;
  width: min(100%, 1024px);
  margin: 0 auto;
  padding: 0 20px;
}

#news {
  padding-top: 80px;
}

#product-creation {
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

#product-harmony {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
}

.map {
  margin-top: 100px;
}

@media screen and (min-width: 768px), print {
  #news {
    padding-top: 180px;
  }

  #product-creation {
    margin-top: 180px;
  }

  #product-harmony {
    margin-top: 180px;
  }

  .map {
    margin-top: 180px;
  }
}
/*# sourceMappingURL=style.css.map */