@use "reset";

/*----------------------------------------
  value
----------------------------------------*/
// ========== Sass ==========
$pc: 768px;
@mixin media-pc {
  @media screen and (min-width: $pc),print {
    @content;    
  }
}
%writing-vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

// ========== color ==========
$c-black: #000;
$c-white: #fff;
$c-gray--dark: #141414 ;
$c-gray--light: #ccc;
$c-base: #e6e2d7;
$c-yellow: #F9E906;
$c-red: #952A26;

// ========== font ==========
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
.header__button-inner {
  font-size: 1.6rem;
  color: $c-white;
}
.navmenu__link{
  font-size: 1.6rem;
  color: $c-white;
}
.news__heading-lv2 {
  letter-spacing: .1em;
  line-height: 1;
  font-size: 2.8rem;
  font-weight: normal;
}
.news__heading-lv2::before {
  letter-spacing: .03em;
  font-size: 1.4rem;
}
.news__date {
  font-size: 1.2rem;
}
.news__title {
  font-size: 1.6rem;
}
.product-creation__heading-lv2,
.product-harmony__heading-lv2 {
  line-height: 1;
  font-weight: normal;
  font-size: 2.4rem;
}
%product__image-description {
  color: $c-white;
  font-size: 1.4rem;
}
.footer__info {
  line-height: 2;
  font-size: 1.4rem;
}
.footer__link {
  font-size: 1.4rem;
}
.footer__buttons--online,
.footer__buttons--form {
  font-size: 1.4rem;
}
// ////////// PC版 //////////
@include media-pc {
  .news__heading-lv2 {
    font-size: 3.6rem;
  }
  .news__heading-lv2::before {
    font-size: 1.4rem;
  }
  .product-creation__heading-lv2,
  .product-harmony__heading-lv2 {
    font-size: 3.2rem;
  }
  .product-creation__heading-lv2::after,
  .product-harmony__heading-lv2::after {
    font-size: 1.4rem ;
    letter-spacing: .06em;
  }
  %product__image-description {
    font-size: 1.6rem;
  }
  .footer__link {
      font-size: 1.6rem;
  }  
}

/*----------------------------------------
	base
----------------------------------------*/
// (wagashi PDFLOCSS)ここから
*, *:before, *:after {
  box-sizing: border-box;
}
body, html {
  font-size: 62.5%;//追記
}
body {

  font-family: 'Noto Serif JP', serif, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: $c-gray--dark;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
input {
  margin: 0;
  padding: 0;
}
textarea {
  padding: 0;
  font: inherit;
  color: inherit;  
}
button {
  font: inherit;  
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;  
  cursor: pointer;
}
//wagashi PDFLOCSSここまで

body {
  background-color: $c-base;
}


/*----------------------------------------
	header
----------------------------------------*/
.header {
  background-color: $c-black;
  background: url(../images/mainvisual-sp.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative;
  @extend %writing-vertical;
}
.heading-lv1 {
  width: 40px;
}
.header__button-outer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba($color: $c-white, $alpha: .2);
  display: inline-block;
  transition: opacity .3s;

  .header__button-inner {
    border: 1px solid $c-gray--light;
    display: block;
    margin: 8px;
    padding: 30px 18px;
  }
}
.header__button-outer:hover {
  opacity: .8;
}
// ////////// PC版 //////////
@include media-pc {
  .header {
    background: url(../images/mainvisual-pc.jpg) no-repeat center top;
    background-size: cover;
    padding: 60px 80px;
  }
  .header__button-outer {
    bottom: 30px;
    left: 40px;

    .header__button-inner {
      padding: 30px 18px;
    }
  }
}

/*----------------------------------------
	gnav
----------------------------------------*/
.navmenu__list {
  margin-right: 60px;
  .navmenu__item:not(:last-of-type) {
    margin-left: 25px;
  }
  .navmenu__link {
    display: block;
    transition: opacity .3s;
    &:hover {
      opacity: .7;
    }
  }
}
/*----------------------------------------
	main
----------------------------------------*/
// ==========News==========
.news__heading-lv2 {
  position: relative;
  margin: 0 15px 0 0;
  @extend %writing-vertical;
}
.news__heading-lv2::before {
  display: block;
  position: relative;
  top: 0;
  right: -15px;
  content: "News";
}
.news__info {
  margin: 20px 30px 0 0;
  max-height: 286px;
  @extend %writing-vertical;
}
// 日付
.news__date {
  border-right: 1px solid $c-black;
  padding: 15px 12px 15px 0;

  time {
    font-size: inherit;
  }
}
// タイトル
.news__title {
  padding: 15px 5px 15px 12px;
}
.news__title:nth-of-type(3) {
  border-left: 1px solid $c-black;
}
// PC表示は5件、スマホ表示は3件に切り替え
.news__date:nth-of-type(n+4),
.news__title:nth-of-type(n+4) {
  display: none;  
}
// ////////// PC版 //////////
@include media-pc {
  .news__info {
    margin: 80px 100px 0 0;
  }
  .news__date {
    padding: 15px 30px 15px 0;
  }
  .news__title {
    padding: 15px 5px 15px 30px;
  }
  .news__title:nth-of-type(3) {
    border-left: none;
  }
  .news__title:last-of-type {
    border-left: 1px solid $c-black;
  }  
  .news__date:nth-of-type(n+4),
  .news__title:nth-of-type(n+4) {
    display: block;  
  }  
}

// ==========Products==========
// ---------- 共通 ----------
%product__heading-lv2 {
  @extend %writing-vertical;
  letter-spacing: .1em
}
.product-creation__heading-lv2 {
  @extend %product__heading-lv2;
  margin-left: 10px;
}
.product-harmony__heading-lv2 {
  @extend %product__heading-lv2;
  margin-right: 10px;
}
.product-creation__image {
  width: 90%;
  margin-top: 70px;
  position: relative;
}
.product-harmony__image {
  @extend .product-creation__image;
}
// ---------- Product 1 ----------
%product__image-description {
  display: block;
  width: 64%;
  padding: 30px 0;
  position: absolute;
  text-align: center;
}
.product-creation__image-description {
  @extend %product__image-description;
  background-color: rgba($color: $c-yellow, $alpha: .6);
  bottom: -20px;
  left: -20px;
}
// ---------- Product 2 ----------
.product-harmony__image-description {
  @extend %product__image-description;
  background-color: rgba($color: $c-red, $alpha: .6);
  right: -20px;
  bottom: -20px;
}
// ////////// PC版 //////////
@include media-pc {
  .product-creation__heading-lv2 {
    margin-left: 20px;
  }
  .product-harmony__heading-lv2 {
    margin-right: 20px;
  }
  %product__heading-lv2--after {
    display: inline;
    position: relative;
    top: 25px;
    letter-spacing: normal;
  }
  .product-creation__heading-lv2::after {
    @extend %product__heading-lv2--after;
    content: "Create New Values";
  }
  .product-harmony__heading-lv2::after {
    @extend %product__heading-lv2--after;
    content: "Science & Technology";
  }
  .product-creation__image,
  .product-harmony__image {
    width: 65%;
    margin-top: 100px;
  }
  %product__image-description {
    width: 56%;
    padding: 50px 0;
  }
}
//==========map==========
.map {
  background-color: $c-gray--light;
  width: 100%;
  position: relative;
  padding-top: 88.3%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
}
// ////////// PC版 //////////
@include media-pc {
  .map {
    padding-top: 32%;
  }
}
/*----------------------------------------
footer
----------------------------------------*/
.footer {
  background-color: $c-black;
  width: 100%;
  padding: 40px 20px 30px;
  color: $c-white;
}
.footer__outer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.footer__inner {
  @extend %writing-vertical;
}
.footer__logo {
  width: 40px;
}
.footer__info {
  margin-right: 25px;
}
.footer__menu {
  margin-right: 25px;
  .footer__item:not(:first-of-type) {
    padding-right: 10px;
  }
  .footer__link {
    transition: opacity .3s;
  }
  .footer__link:hover {
    opacity: .7;
  }
}
.footer__buttons {
  position: static;
  @extend %writing-vertical;
  .footer__buttons--online {
    position: relative;
    padding: 0 0 8px 0;
    transition: opacity .3s;
  }
  .footer__buttons--online::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    border-bottom: 1px solid $c-white;
    content: "";
  }
  .footer__buttons--form {
    padding-top: 8px;
    transition: opacity .3s;
  }
  .footer__buttons--online:hover,
  .footer__buttons--form:hover {
    opacity: .7;
  }
}
.footer__copyright {
  text-align: center;
  margin-top: 10px;
}
// ////////// PC版 //////////
@include media-pc {
  .footer {
    padding: 80px 80px 30px 30px;
  }
  .footer__info {
    margin-right: 60px;
  }
  .footer__menu {
    margin-right: 60px;
    .footer__item:not(:first-of-type) {
      padding-right: 25px;
    }
  }  
}

/*----------------------------------------
section
----------------------------------------*/
.section {
  background-color: $c-base;
  width: min(100%, 1024px);
  margin: 0 auto;
  padding: 0 20px;
}
#news {
  display: flex;
  flex-direction: row-reverse;
  margin: 80px auto 0;
}
#product-creation {
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
#product-harmony {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
}
.map {
  margin-top: 100px;
}
// ////////// PC版 //////////
@include media-pc {
  #news {
    margin: 180px auto 0;
  }
  #product-creation {
    margin-top: 180px;
  }
  #product-harmony {
    margin-top: 180px;
  }
  .map {
    margin-top: 180px;
  }
}